@media only screen and (max-width: 1440px) {
    .testimonial-item {
        min-height: 170px;
        padding: 30px;
    }
}

#scrollTopBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 100;
    font-size: 24px;
    background-color: #FED403;
    /* change to your accent color */
    color: white;
    padding: 16px 16px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#scrollTopBtn:hover {
    background-color: #ddb904ff;
    transform: translateY(-3px);
}

.float-contact {
    position: fixed;
    bottom: 40px;
    /* adjust distance from bottom */
    left: 40px;
    /* distance from right */
    z-index: 1000;
    width: 60px;
    height: 60px;
    background-color: #FED403;
    /* change to your accent color */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.float-contact img {
    width: 30px;
    /* icon size */
    height: 30px;
}

.float-contact:hover {
    background-color: #FED403;
    transform: translateY(-3px);
}

.color {
    color: #FED403;
}

p span a {
    color: #000 !important;
    text-decoration: none !important;
}

p span a:hover {
    text-decoration: underline !important;
}

.navbar {
    align-items: center;
    padding: 3px 0;
}

.our-services {
    background: var(--secondary-color) url(../images/service-bg-shape.png) no-repeat;
    background-position: top right;
    background-size: auto;
    padding: 60px 0;
}

.pricing-item-header {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
}

.pricing-item-header img {
    width: 100%;
    height: 242px;
    object-fit: cover;
    display: block;
}

@media (max-width: 767px) {
    .pricing-item-header img {
        height: auto;
        /* let image scale naturally */
        max-height: 270px;
        /* optional: keeps cards uniform */
        object-fit: contain;
        /* prevents cropping on mobile */
        border-radius: 10px;
    }
}